table.table
  tr(data-ng-repeat='row in fc.forecast.list')
    td.img-container
      img.img-centered(data-ng-src='http://openweathermap.org/img/w/{{row.weather[0].icon}}.png')
    td.text-muted
      span
        h4(data-ng-bind='::row.dtDisplay')
      strong
        | {{::row.temp.max * 9 / 5 - 459.67 | number:0}} / {{::row.temp.min  * 9 / 5 - 459.67 | number:0}}
      div(data-ng-bind='::row.weather[0].description')
