$primaryColor = #0277bd
$accentColor = #1de9b6
$bgColor = #efefef
$darkBgColor = #263238
$lightBgColor = #37474f
$lightTextColor = #f5f5f5
$darkTextColor = #212121

body
  height 100%

.text-muted
  opacity 1

.img-container 
  white-space nowrap
  text-align center 
  margin 1em 0

.img-centered {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
